# PyTorch with CUDA 12.8 wheels
torch==2.10.0+cu128
torchvision==0.25.0+cu128
torchaudio==2.10.0+cu128
--extra-index-url https://download.pytorch.org/whl/cu128

# Other dependencies
lightning
scikit-image
scipy
einops
Pillow
pandas
opencv-python
timm
matplotlib
wandb
natsort
tensorboard
omegaconf
rich
lpips
tqdm
